@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --clr-dred: hsl(0, 36%, 70%);
    --clr-sred: hsl(0, 93%, 68%);
    --clr-dgred: hsl(0, 6%, 24%);


    --clr-grad1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --clr-grad2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    --fs-16: 16px;

    --ff-josefin: 'Josefin Sans', sans-serif;
}

/* elements */

a {
    text-decoration: none;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    font-family: var(--ff-josefin);
    background: var(--clr-grad1);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 10px;
    margin-bottom: 0;
}

h1 span {
    color: var(--clr-dred);
    font-weight: 300;
}


/* IDs */

#alertMessage {
    color: var(--clr-sred);
    padding-left: 1.5em;
    margin-bottom: 25%;
}

#email {
    border: none;
    background: none;
    color: var(--clr-dred);
    width: 100%;
    border-radius: 2em;
    padding-left: 1.5em;
}

#email::placeholder {
    color: rgb(206, 151, 151, 0.5);
}

#email:focus {
    outline: 0.1em solid rgb(206, 151, 151, 0.5);
}


/* Classes */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: var(--clr-dred);
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
    margin-right: 2em;
    margin-left: 2em;
}

.content p {
    text-align: center;
    color: var(--clr-dred);
    line-height: 155%;
    font-size: 0.9em;
}

.email {
    position: relative;
    margin-top: 25px;
    width: 100%;
    background: none;
    border-radius: 2em;
    height: 2.7em;
    border: 0.1em solid rgb(206, 151, 151, 0.5);
    display: flex;
    flex-direction: row-reverse;
}

.exclamationMark {
    display: none;
    position: absolute;
    top: 25%;
    margin-right: 25%;
}

.imgDivDesktop {
    display: none;
}

.imgDivMobile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    transform: scale(0.7);
}

.sendBtn {
    background: var(--clr-grad2);
    width: 5em;
    height: 3.3em;
    border-radius: 2em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    filter: drop-shadow(5px 5px 10px var(--clr-dred))
}

.sendBtn:hover {
    cursor: pointer;
}

.wrongEmail {
    outline: 0.1em solid var(--clr-sred);
}

.wrongEmail:focus {
    outline: 0.1em solid var(--clr-sred) !important;
}


@media screen and (max-width:1440px) and (min-width:1100px) {
    body {
        background: url(./images/bg-pattern-desktop.svg) no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        text-align: start;
        font-size: 4em;
        letter-spacing: 0.3em;
        margin-bottom: 0.2em;
        margin-top: 15%;
        color: var(--clr-dgred);
    }
    
    main {
        margin: auto 10%;
    }

    #alertMessage {
        margin-bottom: 25%;
    }

    .content p {
        text-align: start;
        line-height: 160%;
        font-size: 1em;
    }

    .email {
        height: 3.5em;
    }

    .imgDivMobile {
        display: none;
    }

    .imgDivDesktop {
        display: initial;
    }

    .logo {
        transform: scale(1);
        margin-left: 5%;
    }

    .sendBtn {
        height: 100%;
        width: 21%;
    }

}

@media screen and (min-width:1441px) {
    body {
        background: url(./images/bg-pattern-desktop.svg) no-repeat center center fixed;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        text-align: start;
        font-size: 4em;
        letter-spacing: 0.3em;
        margin-bottom: 0.2em;
        margin-top: 15%;
        color: var(--clr-dgred);
    }
    
    main {
        margin: auto 10%;
    }

    #alertMessage {
        margin-bottom: 25%;
    }

    #womanDesktop {
        height: 100%;
        min-height: 800px;
        width: 100%;
        min-width: 610px;
    }

    .content p {
        text-align: start;
        line-height: 160%;
        font-size: 1em;
    }

    .email {
        height: 3.5em;
    }

    .exclamationMark {
        position: absolute;
        top: 30%;
        margin-right: 25%;
    }

    .imgDivMobile {
        display: none;
    }

    .imgDivDesktop {
        display: initial;
    }

    .logo {
        transform: scale(1);
        margin-left: 5%;
    }

    .sendBtn {
        height: 100%;
        width: 21%;
    }

}